@charset "utf-8";
/* CSS Document */

body {
	margin: 0px;
	padding: 0px;
}
.header-top-strip {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#180900+0,944409+48,180900+100 */
	background: #180900; /* Old browsers */
	background: -moz-linear-gradient(left, #180900 0%, #944409 48%, #180900 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #180900 0%, #944409 48%, #180900 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #180900 0%, #944409 48%, #180900 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#180900', endColorstr='#180900', GradientType=1 ); /* IE6-9 */
	width: 100%;
	padding: 7px;
}
.today-date p {
	margin: 0px;
	color: #fff;
}
.menu-nav {
	padding: 40px 0px 5px 0px;
	text-align: right;
}
.menu-nav ul {
	margin: 0px;
	padding: 0px;
	float: right;
}
.menu-nav ul li {
	float: left;
	margin-left: 15px;
	list-style: none;
}
.menu-nav ul li a {
	text-decoration: none;
	text-decoration: none;
	color: #000;
}
.news-oftheday {
	position: relative;
}
.news-oftheday img {
	width: 100%;
}
.news-oftheday .title-sec {
	position: absolute;
	margin: 0px;
	bottom: 0px;
	left: 0;
	right: 0;
	width: 100%;
	background-color: #000000bd;
}
.news-oftheday .title-sec h2 {
	text-align: center;
	font-size: 20px;
	color: #fff;
}
.news-post h3, .gal-special-stories h3 {
	font-size: 20px;
	font-weight: 600;
	color: #000;
}
.news-post img {
	width: 100%;
}
.news-post ul {
	margin: 0px;
	padding: 0px;
}
.news-post ul li {
	list-style: none;
	padding: 7px 0px;
	border-bottom: solid 1px #ccc;
	font-family: NtvHeading, "Open Sans", Helvetica, Arial, sans-serif;
}
.news-post ul li a {
	text-decoration: none;
	color: #000;
	font-weight: 600;
}
.news-post .mre {
	float: right;
	color: red;
	padding: 7px 0px;
	font-weight: 600;
}
.latest-news {
	width: 100%;
	background-image: url(../images/latest-news-bg.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: 7px 0px 20px 0px;
}
.latest-news h3 {
	font-size: 20px;
	font-weight: 600;
	color: #fff;
	text-align: center;
}
.latest-news-main img {
	width: 100%;
	border: solid 4px #fff;
	box-shadow: 0px 0px 7px 2px #00000047;
}
.latest-news-thumb .thumb-image, .latest-news-thumb .thumb-content {
	display: inline-block;
	width: 48%;
	vertical-align: top;
	color: #fff;
}
.latest-news-thumb .thumb-content p {
	font-size: 15px;
}
.latest-news-thumb .thumb-content p span {
	font-size: 13px;
}
.latest-news-thumb {
	padding-bottom: 7px;
}
.latest-news .mre {
	float: right;
	color: red;
	padding: 7px 0px;
	font-weight: 600;
}
.gal-special-stories {
	width: 100%;
	padding: 12px 0px;
}
.gal-special-stories .gal-in-img {
	margin-bottom: 15px;
}
.gal-special-stories .gal-in-img img {
	width: 100%;
}
.nopadding {
	padding: 0 10px 0 0;
}
.no-padleft {
	padding-left: 0;
}
.gal-main-img img {
	height: 321px;
}
.footer-full-width {
	width: 100%;
	padding: 20px 0px;
	color: #fff;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#180900+0,944409+48,180900+100 */
	background: #180900; /* Old browsers */
	background: -moz-linear-gradient(left, #180900 0%, #944409 48%, #180900 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #180900 0%, #944409 48%, #180900 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #180900 0%, #944409 48%, #180900 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#180900', endColorstr='#180900', GradientType=1 ); /* IE6-9 */
}
.footer-full-width .sub-links {
	text-align: center;
}
.footer-full-width ul {
	margin: 0px;
	padding: 0px;
}
.footer-full-width ul li {
	display: inline-block;
	vertical-align: top;
	margin-right: 7px;
}
.footer-full-width ul li a {
	color: #fff;
}
.footer-full-width .left-sec, .footer-full-width .right-sec {
	color: #fff;
	padding-top: 7px;
}
.footer-full-width .right-sec {
	text-align: right;
}
