@charset "utf-8";
/* CSS Document */

body {
	margin: 0px;
	padding: 0px;
	padding-top: 195px;
	font-family: Ramabhadra !important;
}
.inner-ban-sec .no-padding {
	padding-right: 0px;
}
.news-manual-small-sec {
	margin-bottom: 7px;
}
@media (min-width: 1200px) {
.latest-news {
	width: 1140px;
	margin: auto;
}
}
.header-top-strip {/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#180900+0,944409+48,180900+100 */
	padding: 1px 0;
	background-color: red;
	border-bottom: solid 1px #efefef;
	width: 100%;
}
.header-top-strip {
	color: #fff;
}
.today-date p {
	margin: 0px;
	color: #d63c26;
	/*font-family: 'Courgette', cursive;*/
	color: #fff;
	font-size: 17px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-family: 'Kaushan Script', cursive;
}
.today-date p span {
	animation: blink 1s linear infinite;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000;
	margin-left: 12px;
}
@keyframes blink {
0% {
opacity: 0;
}
50% {
opacity: .5;
}
100% {
opacity: 1;
}
}
.menu-nav {
	padding: 7px 0px 7px 0px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2391c+0,ec8b12+49,e2391c+100 */
/*background: #e2391c;*/ /* Old browsers */
/*background: -moz-linear-gradient(left, #e2391c 0%, #ec8b12 49%, #e2391c 100%);*/ /* FF3.6-15 */
/*background: -webkit-linear-gradient(left, #e2391c 0%,#ec8b12 49%,#e2391c 100%);*/ /* Chrome10-25,Safari5.1-6 */
/*background: linear-gradient(to right, #e2391c 0%,#ec8b12 49%,#e2391c 100%);*/ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2391c', endColorstr='#e2391c',GradientType=1 );*/ /* IE6-9 */
	background-color: #0a166c;
	width: 100%;
	margin-bottom: 7px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.header-sec .thirdparty-sec-hr img {
}
.menu-nav ul {
	margin: 0px;
	padding: 0px;
}
.marquee-studio {
	width: 100%;
	height: 25px;
	overflow: hidden;
	box-sizing: border-box;
	position: relative;
	margin: 0px auto;
}
.header-full-sec {
	position: fixed;
	z-index: 100;
	width: 100%;
	background-color: #fff;
	margin-bottom: 215px;
	margin: 0;
	top: 0;
}
.marquee--inner {
	display: block;
	width: 12000%;
	margin: 7px 0;
	position: absolute;
	animation: marquee 20s linear infinite;
}
.marquee--inner:hover {
	animation-play-state: paused;
}
/*.half {
  float: left;
  width: 10%;
}*/
.marquee--inner ul {
	margin: 0px;
	padding: 0px;
}
.marquee--inner ul li {
	float: left;
	margin-right: 30px;
	list-style-type: square;
	font-size: 16px;
	font-family: Ramabhadra !important;
}
 @keyframes marquee {
 0% {
left: 0;
}
 100% {
left: -100%;
}
}
.menu-nav ul li {
	float: left;
	margin-left: 0px;
	list-style: none;
}
.menu-nav ul li a {
	text-decoration: none;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
}
.news-oftheday {
	position: relative;
}
.news-oftheday img {
	width: 100%;
}
.news-oftheday .title-sec {
	position: absolute;
	margin: 0px;
	bottom: 0px;
	left: 0;
	right: 0;
	width: 100%;
	background-color: #000000bd;
}
.news-oftheday .title-sec h2 {
	text-align: center;
	font-size: 20px;
	color: #fff;
}
.news-post h3, .gal-special-stories h3, .list-sec-in h3, .related-news h3 {
	font-size: 20px;
	font-weight: 600;
	color: #000;
}
.list-sec-in h3, .related-news h3 {
	margin-top: 0px;
	padding-top: 0px;
	padding-left: 15px;
}
.today-date {
	padding-top: 5px;
}
.news-post img {
	width: 100%;
}
.news-post ul {
	margin: 0px;
	padding: 0px;
}
.news-post ul li {
	list-style: none;
	padding: 7px 0px;
	border-bottom: solid 1px #ccc;
	height: 50px;
	font-size: 12px;
	height: 50px;
}
.bussiness-sprots-sec .news-post ul li {
	height: 30px;
}
.news-post ul li:last-child {
	border: none;
}
.news-post ul li a {
	text-decoration: none;
	color: #000000;
	/* font-weight: 600; */
	font-size: 16px;
}
.news-post .mre {
	float: right;
	color: red;
	padding: 7px 0px;
	font-weight: 600;
	position: relative;
	margin: 0px;
	top: -15px;
}
.list-sec-in:after {
	content: "";
	clear: both;
	display: block;
}
.list-sec-in {
	padding-bottom: 15px;
}
.list-sec-in .news-post {
	padding-bottom: 15px;
}
.body-in-sec {
	padding: 20px 0px;
}
.add-sec img {
	width: 100%;
}
.latest-news {
	background-image: url(../images/latest-news-bg.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	padding: 7px 0px 20px 0px;
}
.latest-news h3 {
	font-size: 20px;
	font-weight: 600;
	color: #fff;
	text-align: center;
	margin-bottom: 20px;
}
.latest-news-main img {
	width: 100%;
	border: solid 4px #fff;
	box-shadow: 0px 0px 7px 2px #00000047;
}
.latest-news-thumb .thumb-image, .latest-news-thumb .thumb-content {
	display: inline-block;
	width: 48%;
	vertical-align: top;
	color: #fff;
}
.latest-news-thumb .thumb-content {
	width: 45%;
	padding-left: 2%;
}
.latest-news-thumb .thumb-image img {
	width: 80%;
}
.latest-news-thumb .thumb-content p {
	font-size: 15px;
	line-height: 22px;
}
.latest-news-thumb .thumb-content p span {
	font-size: 13px;
}
.latest-news-thumb {
	padding-bottom: 7px;
}
.latest-news .mre {
	float: right;
	color: red;
	padding: 7px 0px;
	font-weight: 600;
	margin-right: 25px;
}
.gal-special-stories {
	width: 100%;
	padding: 12px 0px;
}
.gal-special-stories .gal-in-img {
	margin-bottom: 15px;
}
.gal-special-stories .gal-in-img img {
	width: 100%;
}
.nopadding {
	padding: 0 10px 0 0;
}
.no-padleft {
	padding-left: 0;
}
.gal-main-img img {
	height: 325px;
}
.footer-full-width {
	width: 100%;
	padding: 20px 0px;
	color: #fff;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#180900+0,944409+48,180900+100 */
	background: #180900; /* Old browsers */
	background: -moz-linear-gradient(left, #180900 0%, #944409 48%, #180900 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #180900 0%, #944409 48%, #180900 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #180900 0%, #944409 48%, #180900 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#180900', endColorstr='#180900', GradientType=1 ); /* IE6-9 */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.footer-full-width .sub-links {
	text-align: center;
}
.footer-full-width ul {
	margin: 0px;
	padding: 0px;
}
.footer-full-width ul li {
	display: inline-block;
	vertical-align: top;
	margin-right: 7px;
	margin-top: 12px;
}
.footer-full-width ul li a {
	color: #fff;
}
.footer-full-width ul li a:hover { text-decoration:none;}
.footer-full-width .left-sec, .footer-full-width .right-sec {
	color: #fff;
	padding-top: 7px;
}
.footer-full-width .right-sec {
	text-align: right;
}
.footer-full-width .right-sec a:hover { color:#fff; text-decoration:none;}
.most-list-news {
	padding: 20px 0px;
}
.thirdparty-sec {
	padding: 7px 0px;
}
.most-list-news h4, .most-videos-list h4 {
	margin: 0px;
	padding: 7px;
	background-color: #8d3700;
	color: #fff;
	font-size: 16px;
}
.most-list-news-main {
	width: 100%;
	padding: 15px 0px;
}
.most-list-news-main:after {
	content: "";
	clear: both;
	display: block;
}
.most-list-news-thumb {
	width: 40%;
	display: inline-block;
	vertical-align: top;
}
.most-list-news-thumb img {
	width: 100%;
}
.most-list-news-content {
	width: 56%;
	display: inline-block;
	vertical-align: top;
	padding-left: 10px;
}
.most-list-news-main a {
	text-decoration: none;
	color: #000;
	font-size: 13px;
	line-height: 22px;
	color: #565555;
	font-weight: 500;
}
.most-list-news-main a:hover {
	text-decoration: none;
}
.most-list-news-content p span {
	font-size: 12px;
}
.most-videos-list-in {
	padding: 7px 0px;
	position: relative;
	text-align: center;
}
.most-videos-list-in .img {
	width: 100%;
}
.most-videos-list-in .play-icon {
	position: absolute;
	margin: 0px;
	left: 43%;
	right: 0;
	top: 45%;
}
.pagination-list {
	padding: 7px 0px;
	text-align: center;
}
.pagination-list ul {
	margin: 0px;
	padding: 0px;
}
.pagination-list ul li {
	display: inline-block;
	vertical-align: top;
	margin-right: 5px;
}
.pagination-list ul li a {
	text-decoration: none;
	color: #000;
	padding: 7px 12px;
	border: solid 1px #ccc;
}
.pagination-list ul li:first-child {
	margin-right: 7px;
}
.pagination-list ul li:last-child {
	margin-left: 7px;
}
.thirdparty-sec-hr {
	padding: 7px 0px;
	padding-top: 41px;
	
}
.thirdparty-sec-hr p { display:inline-block;}
.thirdparty-sec-hr a {
	color: #000;
	text-decoration: none;
}
.flash-news {
	position: relative;
	padding-bottom: 7px;
}
.flash-news span {
	position: absolute;
	margin: 0px;
	top: 0px;
	background-color: #f00;
	color: #fff;
	z-index: 10;
	padding: 7px 5px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.thirdparty-sec-hr a p span {
	margin-left: 5px;
	line-height: 23px;
	font-size: 19px;
	text-transform: uppercase;
	position: relative;
	margin: 0;
	top: 5px;
	left: 5px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.detail-sec-in {
	padding-bottom: 20px;
}
.detail-sec-in .detail-main-image img {
	width: 100%;
}
.thirdparty-sec-hr img {
}
.detail-sec-in h1 {
	font-size: 20px;
	color: #000;
	font-weight: 600;
}
.detail-content {
	padding: 20px 0px;
}
.detail-content p {
	line-height: 27px;
}
.detail-content p span {    font-family: Ramabhadra !important;}
.detail-content p font {
	font-size: 14px !important;
}
.tags-sec {
	padding: 12px 0px;
}
.tags-sec ul {
	margin: 0px;
	padding: 0px;
}
.tags-sec ul li {
	list-style: none;
}
.tags-sec ul li {
	display: inline-block;
	vertical-align: top;
	margin-right: 15px;
	margin-bottom: 20px;
}
.tags-sec ul li a {
	padding: 5px 10px;
	border: solid 1px #ccc;
	text-decoration: none;
}
.tags-sec h5 {
	font-size: 20px;
	color: #ff2500;
	font-weight: 600;
}
/*comment-sec-start*/
.comments-main-sec {
	width: 100%;
}
.comment-head {
	padding: 25px 0px;
}
.comment-head:after {
	content: "";
	clear: both;
	display: block;
}
.comment-head h4 {
	float: left;
	margin: 0px;
	padding: 0;
}
.comment-head .sort {
	float: right;
}
.comment-head .sort select {
	border: none;
	border: none;
}
.comment-head .sort select:focus {
	outline: none;
	border: none;
}
.comments-list .comment-inpt {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border-radius: 2px;
}
.comments-list .btn {
	background-color: #fd0036;
	color: #fff;
	font-size: 16px;
}
.comments-list-in {
	padding: 20px 0px;
}
.comments-list-in ul {
	margin: 0px;
	padding: 0px;
}
.comments-list-in ul li {
	list-style: none;
	padding: 15px 0px;
}
.comments-list-in ul li img {
	float: left;
	margin-right: 15px;
}
.comments-list-in ul li span {
	margin-right: 0px;
}
.star-fill {
	color:#ffba00
}
.comments-list-in ul li p a {
	text-decoration: none;
}
.slidingDiv {
	display: none;
	margin-top: 10px;
}
.reply-comment {
	padding-left: 30px;
	padding-top: 15px;
}
.hor-ad-section {
	text-align: center;
}
.play-hor-ad-section img {
	width: 100%;
}
/*comment-sec-end*/
/*rating-sec-start*/
.rating {
	position: relative;
	font-size: 30px;
	display: inline-block;
}
.rating label {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	cursor: pointer;
}
.rating label:last-child {
	position: static;
}
.rating label:nth-child(1) {
	z-index: 5;
}
.rating label:nth-child(2) {
	z-index: 4;
}
.rating label:nth-child(3) {
	z-index: 3;
}
.rating label:nth-child(4) {
	z-index: 2;
}
.rating label:nth-child(5) {
	z-index: 1;
}
.rating label .inpt2 {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}
.rating label .icon {
	float: left;
	color: transparent;
}
.rating label:last-child .icon {
	color: #000;
}
.rating:not(:hover) label .inpt2:checked ~ .icon, .rating:hover label:hover .inpt2 ~ .icon {
	color: #09f;
}
.rating label .inpt2:focus:not(:checked) ~ .icon:last-child {
	color: #000;
	text-shadow: 0 0 5px #09f;
}
.hostel-name {
	padding: 10px 0px 40px 0px;
}
/*rating-sec-end*/
.related-news {
	width: 100%;
}
.related-news .related-news-in ul li a {
	font-size: 14px;
}
.related-news:after {
	content: "";
	clear: both;
	display: block;
}
.related-news-in:after {
	content: "";
	clear: both;
	display: block;
}
.related-news-in .news-post {
	padding-bottom: 15px;
}
.news-manual-main-sec {
	position: relative;
}
.news-manual-main-sec img, .news-manual-small-sec img, .movie-grid-main-sec img {
	width: 100%;
}
.news-manual-small-sec, .movie-grid-main-sec {
	position: relative;
}
.inner-ban-sec {
	padding-bottom: 10px;
}
.news-manual-main-sec h2, .news-manual-small-sec h3, .movie-grid-main-sec h3 {
	position: absolute;
	margin: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	padding: 12px 15px;
	background-color: #000000bf;
	color: #fff;
	font-size: 16px;
	line-height: 22px;
}
.news-manual-small-sec h3 {
	font-size: 13px;
	padding: 3px 5px;
}
.no-padding {
	padding: 0px 11px 9px 0px;
}
.list-sec-in .news-list-sec {
	padding: 0px 0px;
}
.list-sec-in .news-list-sec .heading-sec:after {
	content: "";
	display: block;
	clear: both;
}
.list-sec-in .news-list-sec .heading-sec {
	width: 100%;
	border-bottom: solid 3px #8d3700;
}
.list-sec-in .news-list-sec .heading-sec h4 {
	float: left;
	background-color: #8d3700;
	padding: 8px;
	margin: 0;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
}
.list-sec-in .news-list-sec .heading-sec p {
	float: right;
}
.list-sec-in .news-list-sec .heading-sec p span {
	margin-right: 15px;
}
.list-sec-in .news-list-sec .heading-sec p select {
	border: none;
}
.news-grid, .movie-grid {
	padding: 7px 0px;
}
.news-grid .news-grid-main-sec img, .news-grid .news-grid-small-sec img {
	width: 100%;
}
.news-grid .news-grid-main-sec h2 {
	font-size: 17px;
	line-height: 22px;
}
.news-grid .news-grid-main-sec a, .news-grid .news-grid-small-sec a {
	color: #000;
	text-decoration: none;
}
.news-grid .news-grid-small-sec h4 {
	font-size: 12px;
	line-height: 18px;
	color: #565555;
	font-weight: 500;
	height: 30px;
}
.news-grid .no-padding {
	padding: 0px 15px 0px 0px;
}
.movie-grid-small-sec {
	padding: 10px 0px;
}
.movie-grid-small-sec a {
	text-decoration: none;
	color: #000;
	font-size: 13px;
	line-height: 22px;
	color: #565555;
	font-weight: 500;
}
.movie-grid-small-sec .movie-grid-img {
	width: 47%;
	display: inline-block;
	vertical-align: top;
}
.movie-grid-small-sec .movie-grid-img img {
	width: 100%;
}
.movie-grid-small-sec .movie-grid-content {
	width: 47%;
	display: inline-block;
	vertical-align: top;
	padding-left: 7px;
}
.list-sec-in .marinni-more {
	float: right;
	margin-right: 25px;
	text-decoration: none;
	font-weight: 600;
	color: red;
}
.signin-signup {
	text-align: right;
	width: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.signin-signup a {
	text-decoration: none;
	color: #ffffff;
	margin-left: 7px;
}
.login-sign-up-sec-main {
	padding: 7% 0px;
}
.login-sign-up-sec {
	background-image: url(../images/login-signup-bg.jpg);
	background-repeat: no-repeat;
	border-radius: 7px;
	width: 50%;
	margin: auto;
	padding: 15px;
	color: #fff;
}
.login-sign-up-sec h5 {
	text-align: center;
	color: #fff;
	font-size: 20px;
}
.login-sign-up-sec .p {
	text-align: center;
}
.login-sign-up-sec p {
	padding: 7px 0px;
}
.login-sign-up-sec .inpt {
	width: 100%;
	border: none;
	background-color: transparent;
	border-bottom: solid 1px #fff;
	padding: 10px 0px;
}
.login-sign-up-sec .inpt-sec {
	width: 60%;
	margin: auto;
}
.login-sign-up-sec .inpt:focus {
	outline: none;
}
.login-sign-up-sec .btn {
	border: none;
	background-color: #fff;
	color: #000;
	padding: 7px 12px;
	border-radius: 4px;
}
/*menu-nav-start*/
.toggleMenu {
	display: none;
	background: #666;
	padding: 10px 15px;
	color: #fff;
}
.studio-n-toggle-menu {
	list-style: none;
 *zoom: 1;
}
.studio-n-toggle-menu:before, .studio-n-toggle-menu:after {
	content: " ";
	display: table;
}
.studio-n-toggle-menu:after {
	clear: both;
}
.studio-n-toggle-menu ul {
	list-style: none;
	width: 9em;
	margin: 0px;
	padding: 0px;
}
.studio-n-toggle-menu a {
	padding: 7px 10px;
	color: #fff;
}
.studio-n-toggle-menu li {
	position: relative;
}
.studio-n-toggle-menu > li {
	float: left;
}
.studio-n-toggle-menu > li > .parent {
	background-image: url("../images/downArrow.png");
	background-repeat: no-repeat;
	background-position: right;
}
.studio-n-toggle-menu > li > a {
	display: block;
}
.studio-n-toggle-menu li ul {
	position: absolute;
	left: -9999px;
}
.studio-n-toggle-menu > li.hover > ul {
	left: 0;
}
.studio-n-toggle-menu li li.hover ul {
	left: 100%;
	top: 0;
}
.studio-n-toggle-menu li li a {
	display: block;
	background: #000;
	position: relative;
	z-index: 100;
	border-top: 1px solid #000;
}
.studio-n-toggle-menu li li li a {
	background: #000;
	z-index: 200;
	border-top: 1px solid #000;
}
 @media screen and (max-width: 768px) {
.active {
	display: block;
}
.studio-n-toggle-menu > li {
	float: none;
	width: 100%;
	text-align: left;
	border-bottom: solid 1px #fb8a39;
	margin-left: 0 !important;
}
.menu-nav ul li a {
	color: #fff;
}
.studio-n-toggle-menu > li > .parent {
	background-position: 95% 50%;
}
.studio-n-toggle-menu li li .parent {
	background-image: url("../images/downArrow.png");
	background-repeat: no-repeat;
	background-position: 95% 50%;
}
.studio-n-toggle-menu ul {
	display: block;
	width: 100%;
}
.studio-n-toggle-menu > li.hover > ul, .studio-n-toggle-menu li li.hover ul {
	position: static;
}
}
 @media handheld, screen and (max-width: 500px) {
.mobile-menu-toggle-button:checked ~ .mobmenu-toggle {
	background-color: #000;
	color: orange;
	-webkit-transform: rotate(-180deg);
	padding: 8px 15px;
	background-color: #dd5720;
	color: #fff;
}
}
.mobmenu-toggle {
	display: none;
}
.mobile-menu-toggle {
	left: -9999px;
	position: absolute;
	top: -9999px;
}
 @media handheld, screen and (max-width: 480px) { /* <-- Adjust the breakpoints to your liking */
.mobmenu-toggle, .mobile-menu-toggle-button, .studio-n-toggle-menu {
	top: 0;
	position: fixed;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.mobmenu-toggle {
	margin: 0;
	display: inline-block;
	z-index: 999;
	padding: 8px 15px;
	background-color: #dd5720;
	color: #fff;
	font: normal normal normal 20px/1 FontAwesome;
	position: absolute;
	right: 25px;
	top: 80px;
}
.mobile-menu-toggle-button:checked~.mobmenu-toggle.mobile-left:before {
	content: "\f00d";
}
.mobmenu-toggle:before {
	content: "";
	content: "\f0c9";
}
.mobmenu-toggle:hover {
	cursor: pointer;
}
.studio-n-toggle-menu {
	margin: 0;
	width: 85%;
	height: 100%;
	max-height: 100%;
	min-height: 100%;
	z-index: 998;
	overflow: hidden;
}
.studio-n-toggle-menu.mobile-left {
	left: -105%;
}
.studio-n-toggle-menu.mobile-right {
	right: -105%;
}
.mobile-menu-toggle-button:checked ~ .mobmenu-toggle.mobile-right {
	left: 0;
	right: auto;
}
.mobile-menu-toggle-button:checked ~ .mobmenu-toggle.mobile-left {
	left: auto;
	right: 25px;
}
.mobile-menu-toggle-button:checked + .studio-n-toggle-menu.mobile-left {
	width: 50% !important;
	left: 0;
	background-color: #ca5600;
}
.mobile-menu-toggle-button:checked + .studio-n-toggle-menu.mobile-right {
	width: 85% !important;
	right: 0;
}
}
/*menu-nav-end*/
.panel-heading {
	padding: 0px 0px;
}
.mob-ad {
	display: none;
}
.panel-heading {
	padding: 0 !important;
	border: none !important;
}
.list-sec-in .nav-tabs li:first-child a {
	background-color: #8d3700;
	color: #fff;
	border: 1px solid #8d3700;
	font-size: 16px;
	font-weight: 600;
}
.list-sec-in .nav-tabs li:first-child a:hover {
	border: 1px solid #8d3700;
	background-color: #8d3700;
	color: #fff;
}
.list-sec-in .nav-tabs li:last-child {
	float: right;
	text-align: left;
}
.list-sec-in .nav-tabs li:last-child ul li {
	float: none;
}
.list-sec-in .nav-tabs li:last-child a {
	color: #000;
}
.panel-default>.panel-heading {
	border-bottom: solid 3px #8d3700 !important;
}
.panel-default>.panel-heading {
	background-color: #fff !important;
}
.social-media a {
	font-size: 16px;
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;
	-o-transition: 0.6s;
	-o-transform-style: preserve-3d;
	transition: 0.6s;
	transform-style: preserve-3d;
}
.social-media span:hover a {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
.social-media a.face-book {
	color: #1c407c;
	
	font-size: 25px;
	position: relative;
	margin: 0;
	top: 3px;
	padding-left: 5px;
	padding-right: 5px;
}
.social-media a.twitter {
	color: #2daae1;
	
	font-size: 25px;
	position: relative;
	margin: 0;
	top: 3px;
	padding-left: 5px;
	padding-right: 5px;
}
.social-media a.youtube {
	color: #cd201f;
	
	font-size: 25px;
	position: relative;
	margin: 0;
	top: 3px;
	padding-left: 5px;
	padding-right: 5px;
}
.social-media a.instagram {
	color: #000;
	
	font-size: 25px;
	position: relative;
	margin: 0;
	top: 3px;
	padding-left: 5px;
	
}

.social-media { float:right;}
.first-sec {
	margin-top: 7px;
}
.panel-body {
	padding: 0px !important;
}
.panel {
	border: none !important;
	margin: 0px !important;
	box-shadow: none !important;
}
.movie-grid-main-sec {
	margin-bottom: 7px;
}
/*gallery-start*/

.gallery-sec .gal-in-sec {
	border: solid 2px #fff;
	box-shadow: 0px 0px 9px 2px #00000047;
	margin-bottom: 15px;
}
.gallery-sec .gal-in-sec img {
	width: 100%;
}
.gallery-sec h2 {
	font-size: 22px;
	display: inline-block;
	margin: 0;
	padding-bottom: 10px;
}
.gallery-sec .more-gal {
	float: right;
	color: red;
	text-decoration: none;
}
/*gallery-end*/
.signin-signup .signin, .signin-signup .signup {
	position: relative;
    margin: 0;
    top: 6px;
}
.logo {
	margin: 3px 0;
}
/*New-design-justin-sec-start*/
.just-in-sec {
	padding: 5px 5px 5px 15px;
	background-color: #0a166c;
	border-radius: 10px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.just-in-sec h3 {
	font-size: 22px;
	color: #fff;
	padding-top: 12px;
	margin: 0;
	padding-bottom: 12px;
}
.just-in-sec ul {
	margin: 0px;
	padding: 0px;
}
.just-in-sec ul li {
	list-style: none;
	line-height: 22px;
	font-size: 20px;
	border-left: solid 3px #fff;
	padding-left: 15px;
	margin-bottom: 28px;
	font-family: Ramabhadra !important;
}
.just-in-sec ul li a {
	color: #fff;
	text-decoration: none;
}
.just-in-sec ul li a:after, .news-post ul li a:after {
	content: none;
}
.news-oftheday {
	margin-bottom: 20px;
}
.news-oftheday img {
	width: 100%;
	height: 335px;
}
.first-sec {
	padding: 20px 0px;
}
/*New-design-justin-sec-end*/
/*Mobile-sec-start*/
/*portrait-start*/
@media only screen and (min-device-width:320px) and (max-device-width:479px) {
	.latest-news-main {
		padding-bottom: 12px;
	}

	.today-date, .signin-signup {
		text-align: center;
	}

	.header-sec .thirdparty-sec-hr img {

	}

	.login-sign-up-sec {
		width: 95%;
	}

	.login-sign-up-sec .inpt-sec {
		width: 95%;
	}

	.latest-news-thumb .thumb-image img {
		width: 100%;
	}

	.footer-full-width .left-sec, .footer-full-width .right-sec {
		text-align: center !important;
	}

	.mob-ad {
		display: block;
		padding-top: 30px;
	}

	.mob-ad img {
		width: 100%;
	}

	.studio-n-live {
		padding-bottom: 15px;
	}

	.inner-ban-sec .no-padding {
		padding-left: 4px;
	}

	.news-manual-main-sec, .news-manual-small-sec {
		margin-bottom: 15px;
	}

	.news-manual-main-sec h2, .news-manual-small-sec h3, .movie-grid-main-sec h3 {
		font-size: 12px;
	}

	.gal-special-stories .gal-right {
		padding: 0px;
	}

	.gal-special-stories .no-padleft {
		padding-right: 0px;
	}

	.gal-special-stories .gal-right .nopadding {
		padding: 0px;
	}

	.thirdparty-sec-hr {
		padding-top: 7px;
	}

	.just-in-sec {
		margin-bottom: 15px;
	}

	.studio-n-live iframe {
		height: 250px;
	}

	.menu-nav {
		padding: 0px;
		height: 0px;
	}

	.total-section {
		display: flex;
		flex-direction: column;
	}

	.section-two {
		order: 1;
	}

	.section-one {
		order: 2;
	}

	.section-three {
		order: 3;
	}

	.mob-ad {
		display: none;
	}

	.logo img {
		width: 145%;
	}

	body {
		padding-top: 150px;
	}

	.news-oftheday {
		text-align: center;
	}

	.list-sec-in .nav-tabs li:last-child {
		float: left;
	}

	.gal-main-img img {
		height: auto;
	}

	.signin-signup .signin, .signin-signup .signup {
		position: relative;
		margin: 0;
		top: 0px;
	}

	/*portrait-end*/
	/*Landscape-start*/
	@media screen and (max-width: 599px) and (min-width: 480px) {
	}
}
/*Landscape-end*/
/*Mobile-sec-end*/
